{% extends 'file/basic.html' %}

{% block title %}
    <title>User Status</title>
{% endblock title %}

<!-- Crispy Form -->
{% load crispy_forms_tags %}

<!-- Widget Tweaks -->
{% load widget_tweaks %}

{% block style %}
<style>
  .nav-link{
    font-size: 12px;
  }
    #submit{
              color: green;
              width: 100%;
              color: white;
              background-color: blue;
              margin: 20px auto;
              padding: 8px;
          }
          h1{
              color: blue;
              text-align: center;
              margin: 25px 35px;
              font-weight: 800;
          }
          .ui-menu-item-wrapper{
            position: relative;
            display: block;
            width: 85%;
            color: black;
            background-color: skyblue;
            margin-left: -35px;
            padding: 10px;
            background-size: 100%  100vh;
          }
          .input-group{}
</style>
{% endblock style %}


{% block content %}
<div class="container">
    <h1 class="text-center fs-1 fw-bold text-primary mt-3 mb-2">User Requisition Form</h1>
    <form action="" method="post">
        {% csrf_token %}
        
        <div class="mb-2 ui-widget">
          <label for="user" class="form-label">User</label>
          <input type="text" name="user" class="form-control" id="user" placeholder="Digamber">
        </div>
        <div class="mb-2">
          <label for="department" class="form-label">Department</label>
          <input type="text" name="department" class="form-control" id="department" placeholder="IT">
        </div>
        <div class="mb-2">
          <label for="item" class="form-label">Item</label>
          <input type="text" name="item" class="form-control" id="item" placeholder="Wired Keyboard">
        </div>
        <div class="mb-2">
          <label for="capacity" class="form-label">Capacity</label>
          <input type="text" name="capacity" class="form-control" id="capacity" placeholder="2m wire">
        </div>
        <div class="mb-2">
          <label for="version" class="form-label">Version</label>
          <input type="text" class="form-control" id="version" name="version" placeholder="">
        </div>
        <div class="mb-2">
          <label for="qty" class="form-label">Qty</label>
          <input type="number" name="qty" class="form-control" id="qty" placeholder="1">
        </div>
        <div class="mb-2">
          <label for="img" class="form-label">Item Image</label>
          <!-- <input type="file" name="img" class="form-control" id="img"> -->
          {{form.item_image}}
        </div>

        <!-- {{form|crispy}} -->

        <input type="submit"class="btn btn-outline-success mt-3" value="Submit Query" id="submit">

    </form>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<!-- jquery ui -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
    $( function() {
      var availableTags = [...new Set([
          {% for i in user %}
              "{{i.first_name}}",
          {% endfor %}
      ])];
      $( "#user" ).autocomplete({
        source: availableTags
      });
    } );

    

    $( function() {
      var availableTags = [...new Set([
          {% for i in department %}
              "{{i.name}}",
          {% endfor %}
      ])];
      $( "#department" ).autocomplete({
        source: availableTags
      });
    } );

    $( function() {
      var availableTags = [...new Set([
          {% for i in item %}
              "{{i.name}}",
          {% endfor %}
      ])];
      $( "#item" ).autocomplete({
        source: availableTags
      });
    } );

    </script>
{% endblock content %}
